{
	"extends": ["airbnb", "prettier"],
	"parser": "babel-eslint",
	"env": {
		"jest": true
	},
	"rules": {
		"no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
		"indent": ["error", 2]
	}
}
